@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
}

.hire {
  display: none;
}
.show {
  display: block;
}
div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

input, button {
  outline: none;
  border: none;
}

ul {
  list-style: none;
}

.badge {
  width: 42px;
  height: 23px;
  background: #F64775;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #FFFFFF;
}

.nav-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #141414;
  margin-left: 25px;
  margin-right: 25px;
}

header {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 20px;
}

.container {
  max-width: 1240px;
}

.header-btn__left {
  width: 94px;
  height: 54px;
  border: 2px solid #F8F4F4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  margin-right: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #333333;
}
.header-btn__right {
  width: 153px;
  height: 54px;
  text-align: center;
  background: #0099FF;
  border-radius: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.start {
  margin-bottom: 40px;
  margin-top: 31px;
}
.start-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 120px;
  line-height: 110px;
  text-align: center;
  letter-spacing: 2px;
  color: rgba(14, 16, 22, 0.95);
}
@media (max-width: 1024px) {
  .start-title {
    font-size: 100px;
    line-height: 95px;
    padding-top: 30px;
  }
}
@media (max-width: 500px) {
  .start-title {
    font-size: 80px;
    line-height: 85px;
  }
}
@media (max-width: 425px) {
  .start-title {
    font-size: 60px;
    line-height: 65px;
  }
}
.start-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 36px;
  text-align: center;
  color: #35393F;
  padding-top: 50px;
  padding-bottom: 34px;
}
.start-form {
  max-width: 460px;
  padding-left: auto;
  padding-right: auto;
}
.start-form-left {
  width: 280px;
  height: 58px;
  background: #FFFFFF;
  border-radius: 8px 0px 0px 8px;
  border: 2px solid #0099FF;
}
.start-form-left input {
  height: 52px;
  border: none;
  margin-top: 1px;
}
@media (max-width: 572px) {
  .start-form-left {
    width: 200px;
  }
}
.start-form-right {
  width: 157px;
  height: 58px;
  background: #0099FF;
  border-radius: 0px 8px 8px 0px;
  border: 2px solid #0099FF;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}
@media (max-width: 572px) {
  .start-form-right {
    width: auto;
  }
}
@media (max-width: 443px) {
  .start-form-right {
    width: 100px;
    font-size: 14px;
    line-height: 17px;
  }
}
@media (max-width: 383px) {
  .start-form-left {
    width: 150px;
  }
  .start-form-right {
    width: 80px;
  }
}

.join-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #B2B2B2;
  text-align: center;
}
.join-block {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 343px) {
  .join-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.video {
  margin-top: 60px;
  margin-bottom: 80px;
}
.video-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 56px;
  letter-spacing: 1.5px;
  color: #000000;
  margin-bottom: 30px;
}
.video-btn {
  max-width: 361px;
  min-width: 70px;
  height: 70px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 7px 10px rgba(186, 193, 197, 0.2);
          box-shadow: 0px 7px 10px rgba(186, 193, 197, 0.2);
  border-radius: 40px;
  z-index: 100;
  margin-top: -35px;
}
.video-btn img {
  margin-right: 15px;
}
.video-btn-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-top: 16px;
}
@media (max-width: 782px) {
  .video-btn-text {
    display: none;
  }
  .video-btn {
    text-align: center;
  }
  .video-btn img {
    margin-right: 0px;
    margin-left: 6px;
  }
}

.hire {
  margin-bottom: 80px;
}
.hire .card-right img {
  width: 100%;
}
.hire .card-left {
  padding-right: 90px;
  padding-left: 20px;
}
@media (max-width: 512px) {
  .hire .card-left {
    padding-right: 0;
    padding-left: 10px;
  }
}

.card {
  border: none;
}
.card-body {
  padding: 0;
  margin-bottom: 30px;
}
.card-top {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #0C9F64;
  margin-bottom: 15px;
}
@media (max-width: 425px) {
  .card-top {
    font-size: 27px;
    line-height: 26px;
  }
}
.card-top-yellow {
  color: #FEC104;
}
.card-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 1.5px;
  color: rgba(14, 16, 22, 0.95);
  margin-bottom: 23px;
}
@media (max-width: 1112px) {
  .card-title {
    font-size: 56px;
    line-height: 60px;
  }
}
@media (max-width: 425px) {
  .card-title {
    font-size: 40px;
    line-height: 49px;
  }
}
.card-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 31px;
  color: rgba(14, 16, 22, 0.95);
  margin-bottom: 26px;
}
.card-btn {
  width: 136px;
  height: 54px;
  border: 2px solid #F8F4F4;
  border-radius: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #333333;
}
.card-btn:hover {
  background: #0099FF;
  border: 2px solid #0099FF;
  color: #FFFFFF;
}

.create {
  margin-bottom: 100px;
}
.create .card-right img {
  width: 100%;
}
.create .card-left {
  padding-right: 90px;
  padding-left: 20px;
}
@media (max-width: 512px) {
  .create .card-left {
    padding-right: 0;
    padding-left: 10px;
  }
}

.club .card {
  padding-left: auto;
  padding-right: auto;
  background: #202E78;
  border-radius: 20px;
}
.club .card-title {
  color: #FFFFFF;
}
@media (max-width: 830px) {
  .club .card-title {
    font-size: 42px;
    line-height: 55px;
  }
}
.club .card-text {
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  margin-top: 19px;
}
@media (max-width: 830px) {
  .club .card-text {
    font-size: 24px;
    line-height: 36px;
  }
}
.club .card-subtext {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 31px;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.club .card-btn {
  width: 213px;
  color: #F4F6F8;
}
.club .card-body {
  margin-top: 70px;
  margin-bottom: 60px;
  text-align: center;
  color: #FFFFFF;
}
.club .card-left {
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
}
.club .card-right {
  margin-bottom: 40px;
}
.club .card-right-img {
  max-width: 530px;
}
.club .card-right-img img {
  width: 100%;
}
@media (max-width: 1180px) {
  .club .card-right-img {
    margin-left: auto;
    margin-right: auto;
  }
}
.club .card-right-box {
  max-width: 530px;
  background: #000639;
  border-radius: 0px 20px 20px 0px;
  text-align: left;
}
.club .card-right-box div {
  padding: 30px;
}
@media (max-width: 1180px) {
  .club .card-right-box {
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 20px 20px;
  }
}
@media (max-width: 1180px) {
  .club .card-right {
    text-align: center;
  }
}

.kickstart {
  margin-bottom: 80px;
}
.kickstart .card {
  background: #181818;
  border-radius: 20px;
}
.kickstart .card-body {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
  padding-left: 8px;
  padding-right: 8px;
}
.kickstart .card-title {
  color: #FFFFFF;
  margin-top: 16px;
}
@media (max-width: 830px) {
  .kickstart .card-title {
    font-size: 42px;
    line-height: 55px;
  }
}
.kickstart .card-text {
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  margin-top: 19px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 31px;
  text-align: center;
  color: #F4F3F3;
}
.kickstart .card-subtext {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 31px;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.kickstart .card-btn {
  width: 213px;
  color: #F4F6F8;
}
.kickstart .card-right {
  width: 100%;
}
.kickstart .card-right img {
  width: 100%;
}
.kickstart .card-left {
  padding: 0;
}

.grade {
  margin-bottom: 63px;
}
.grade-capterra {
  text-align: center;
}
@media (max-width: 569px) {
  .grade-capterra {
    margin-bottom: 50px;
  }
}
.grade-intercom {
  text-align: center;
}
.grade-img {
  margin-bottom: 20px;
}
.grade-num {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 82px;
  color: rgba(14, 16, 22, 0.95);
  margin-bottom: 15px;
}
.grade span {
  font-size: 50px;
}
.grade-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: rgba(14, 16, 22, 0.95);
  margin-top: 25px;
}

.trial {
  margin-bottom: 60px;
}
.trial .card {
  background: #3CA9FF;
  border-radius: 20px;
  padding-top: 60px;
  padding-bottom: 50px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.trial .card-title {
  color: #FFFFFF;
}
@media (max-width: 830px) {
  .trial .card-title {
    font-size: 42px;
    line-height: 55px;
  }
}
.trial .card-btn {
  width: 153px;
  background: #0E1016;
  border-radius: 8px;
  border: 2px solid #0E1016;
  color: #FFFFFF;
  font-weight: normal;
}
.trial .card-btn:hover {
  background: transparent;
  border: 2px solid #FFFFFF;
}
.trial .card-right {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}
.trial .card-right-first {
  margin-right: 20px;
}
.trial .card-right-first::before {
  content: url("../img/mark.svg");
}
.trial .card-right-second::before {
  content: url("../img/mark.svg");
}

footer {
  background: rgba(0, 0, 0, 0.95);
  border-radius: 20px;
  padding: 25px 40px;
}
@media (max-width: 410px) {
  footer {
    padding: 15px 15px;
  }
}
footer .footer-top {
  margin-bottom: 40px;
}
footer .card-btn {
  width: 150px;
  font-weight: normal;
  color: #FFFFFF;
}
footer ul {
  margin-bottom: 30px;
}
footer a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  color: #778291;
}
footer li {
  margin-bottom: 10px;
  height: 24px;
}
footer .first-child {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
  font-family: Roboto;
}
footer .footer-fourth-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}
footer .footer-fourth-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #778291;
  margin-top: 21px;
}
footer .footer-form {
  width: auto;
}
footer .footer-form-left > input {
  background: rgba(119, 130, 145, 0.3);
  border-radius: 8px 0px 0px 8px;
  border: transparent;
}
footer .footer-form-right {
  background: #595D68;
  border-radius: 0px 8px 8px 0px;
  color: #FFFFFF;
  border: transparent;
}
footer .footer-social a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}
footer .footer-social a img {
  width: 100%;
}